<%
   extend ApplicationHelper
   extend IssueRelationsHelper

   excludes = Setting.plugin_quick_edit['custom_field_exclude_names'].split(/,/).map {|v| Regexp.new(v)}

   custom_fields = @issues.map(&:available_custom_fields).reduce(:&).select do |f|
     %w{string date int text link float}.include?(f.field_format) && ( excludes.empty? || excludes.none? {|ex| ex.match(f.name)} )
   end

   readonly_fields = @issues.map {|issue| issue.read_only_attribute_names(User.current)}
   readonly_fields.flatten!
   readonly_fields.uniq!

   first_issue = @issues.first
   first_issue_id = first_issue.id
   if @issues.size > 1
      second_issue = @issues[1]
      second_issue_id = second_issue.id
   else
      second_issue_id = ''
   end

   # 可能なら更新後に選択されたチケットに戻り先に設定
   if @back.match(/\/projects\/.*?\/issues/)
     back_url = @back + '#issue-' + first_issue.id.to_s
   else
     back_url = @back
   end

%>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:button_quick_edit) %></a>
    <ul>
      <%= quick_edit_link_to(@issue_ids, get_attribute_caption(:subject), :subject, nil, back_url, !editable(:subject,@can,readonly_fields)) %>
      <%= quick_edit_link_to(@issue_ids, get_attribute_caption(:description), :description, nil, back_url, !editable(:description,@can,readonly_fields)) %>
      <%= quick_edit_link_to(@issue_ids, get_attribute_caption(:parent_issue_id), :parent_issue_id, nil, back_url, !editable(:parent_issue_id,@can,readonly_fields)) %>
      <% unless @issues.any? {|issue| issue.disabled_core_fields.include?('start_date') } %>
      <%= quick_edit_link_to(@issue_ids, get_attribute_caption(:start_date), :start_date, nil, back_url, !editable(:start_date,@can,readonly_fields)) %>
      <% end %>

      <% unless @issues.any? {|issue| issue.disabled_core_fields.include?('due_date') } %>
      <%= quick_edit_link_to(@issue_ids, get_attribute_caption(:due_date), :due_date, nil, back_url, !editable(:due_date,@can,readonly_fields)) %>
      <% end %>

      <% custom_fields.each do |f| %>
      <%= quick_edit_link_to(@issue_ids, f.name, 'custom_field_values', f.id, back_url, !editable_custom_field(f,@can,readonly_fields)) %>
      <% end %>

      <% if @issues.size <= 2  %>
        <% if User.current.allowed_to?(:manage_issue_relations, @project) %>
        <hr>
        <li><%= link_to l(:label_relation_new),
                        'javascript: quick_edit_show_new_relation_dialog(\''+first_issue_id.to_s+'\',\''+second_issue_id.to_s+'\',\''+URI.encode_www_form_component(back_url)+'\');',
                        :remote => false,
                        :title => l(:label_relation_new),
                        :class => 'icon',
                        :style => 'background-image: url("'+image_path('link.png')+'")' %></li>
        <% end %>
      <% end %>

      <% if @issues.size == 1 && first_issue.relations.any? %>
        <hr>
        <% first_issue.relations.each do |relation| %>
          <% other_issue = relation.other_issue(first_issue) %>
          <% if User.current.allowed_to?(:manage_issue_relations, @project) %>
            <li><%= link_to l(relation.label_for(first_issue)) + " \##{other_issue.id}",
                            quick_edit_relation_path(relation, :back_url => back_url),
                            :remote => false,
                            :method => :delete,
                            :data => {:confirm => l(:text_are_you_sure)},
                            :title => l(:label_relation_delete),
                            :class => 'icon',
                            :style => 'background-image: url("'+image_path('link_break.png')+'");' %></li>
          <% end %> 
        <% end %>
      <% end %>
   </ul>
  </li>

  <div id="quick_edit_new_relation_dialog" style="display:none;" title="Quick Edit - <%= l(:label_relation_new) %>">
    <%= form_tag({:controller=>'quick_edit_relations', :action=>:create}) do %>
      <%= text_field_tag :issue_id, '', { :size => 10 } %>
      <%= select :relation, :relation_type, collection_for_relation_type_select, {}, :onchange => "setPredecessorFieldsVisibility();"  %>
      <%= text_field_tag 'relation[issue_to_id]', '', { :size => 10 } %>
      <%= hidden_field_tag :back_url, '' %>
      <span id="predecessor_fields" style="display:none;">
      <br><%= l(:field_delay) %>: <%= text_field_tag :delay, '', {:size => 3} %> <%= l(:label_day_plural) %>
      </span><br>
      <hr> 
      <%= submit_tag l(:button_add) %>
      <%= submit_tag l(:button_cancel), :onclick => 'javascript: quick_edit_new_relation_dialog_cancel();', :type => 'button' %>

      <%= javascript_tag "observeAutocompleteField('issue_id', '#{escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (Setting.cross_project_issue_relations? ? 'all' : nil))}')" %>
      <%= javascript_tag "observeAutocompleteField('relation_issue_to_id', '#{escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (Setting.cross_project_issue_relations? ? 'all' : nil))}')" %>

      <%= javascript_tag "setPredecessorFieldsVisibility();" %>

    <% end %>
  </div>
